@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin titlePage($width:80px) {
    font-size: var(--sizeFontHeaderPage);
    position: relative;
    margin-bottom: 30px;
    text-align: center;

    &::after {
        content: '';
        display: block;
        position: absolute;
        width: $width;
        height: 4px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: black;
    }
}

@mixin button {}

@mixin rwd($rwdPoint) {
    @if map-has-key($map:$responsivePoints, $key:$rwdPoint) {
        @media (min-width:#{map-get($responsivePoints, $rwdPoint)}) {
            @content;
        }
    }
}