@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin titlePage($width:80px) {
    font-size: var(--sizeFontHeaderPage);
    font-family: $headersFont;
    position: relative;
    text-align: center;
    font-size: 1.4rem;
    padding: 20px;
    margin: 0;
    margin-bottom: 20px;

}

@mixin button {}

@mixin rwd($rwdPoint) {
    @if map-has-key($map:$responsivePoints, $key:$rwdPoint) {
        @media (min-width:#{map-get($responsivePoints, $rwdPoint)}) {
            @content;
        }
    }
}