$linkFont:'nunito';
$headersFont: 'myriad-pro';
$textFont:'Roboto';

$asideBlank:120px;
$asideNavWidht:90px;

$homePageMainHeader2Height:homePageMainHeader();
$asideNavListElementTextHeight:35px;
$homePageMainHeader2Height:60%;

$maxSmallMobile:480px;
$maxMobile:640px;
$maxTablet:860px;
$maxTablet:1024px;
$maxLarge:1280px;