//responsive points
$maxMobile:420px;
$maxLargeMobile:640px;
$minTablet:860px;
$minSmallDesctop:1024px;
$minLargeDesctop:1280px;

//Global
$linkFont:'nunito';
$headersFont: 'myriad-pro';
$textFont:'Roboto';


//varaibles css(for responsive value)

:root {
    //App
    --asideBlank: 70px;
    //Home page
    --asideNavWidth: 125px;
    --asideNavLastElement: 40px;
    --homePageMainHeader: 80px;
    //MainNav
    --navHeight: 200px;

    @media screen and (min-width:$maxMobile) {
        //App
        --asideBlank: 180px;
        //HomePage
        --asideNavLastElement: 50px;
        --asideNavWidth: 125px;

    }

    @media screen and (min-width:$maxLargeMobile) {
        //App
        --asideBlank: 200px;
        //HomePage
        --asideNavWidth: 200px;
        --asideNavLastElement: 80px;
    }

    @media screen and (min-width:$minTablet) {
        //App
        //HomePage
    }

    @media screen and (min-width:$minSmallDesctop) {
        //App
        --asideBlank: 35%;
        //HomePage
        --asideNavWidth: 30%;
        --asideNavLastElement: 90px;

    }
}