@import './mixins.scss';

//responsive points

$responsivePoints:(small:420px,
    medium:640px,
    tablet:860px,
    desctop:1024px,
    large:1200px);

//Global
$linkFont:'nunito';
$headersFont: 'Prompt';
$textFont:'Roboto',
sans-serif;

//varaibles css(for responsive value)

:root {
    //App
    --asideBlank: 70px;
    //Home page
    --asideNavWidth: 125px;
    --asideNavLastElement: 40px;
    //MainNav
    --navHeight: 200px;

    @include rwd(small) {
        //App
        --asideBlank: 180px;
        //HomePage
        --asideNavLastElement: 50px;
        --asideNavWidth: 125px;

    }

    @include rwd(medium) {
        //App
        --asideBlank: 200px;
        //HomePage
        --asideNavWidth: 200px;
    }

    @include rwd(tablet) {
        //App
        //HomePage
        --asideNavLastElement: 80px;
    }

    @include rwd(desctop) {
        //App
        --asideBlank: 35%;
        //HomePage
        --asideNavWidth: 30%;
        --asideNavLastElement: 90px;

    }
}