@import '../../sass/colors.scss';

.bassicButton {
            padding: 10px 15px;
            background-color: #0062cc;
            border: 3px solid transparent;
            color: #fff;
            transition: .3s;
            cursor: pointer;

            &:hover {
                        background-color: #fff;
                        color: $blue;
                        border: 3px solid #0062cc;
            }
}