@import "../../sass/colors.scss";

.mainButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 4px 4px;
  border: none;
  background-color: transparent;

  &.burger {}
}