@import "./../../sass/colors.scss";
@import "./../../sass/mixins.scss";

.aboutPage {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  background: $grey;
  background: linear-gradient(to bottom, $grey 0%, rgba(255, 255, 255, 1) 50%, $mint 100%);
  line-height: 1.5;
  font-size: 1rem;
  padding: 70px 20px;

  .aboutPage__header {
    width: 100%;
    @include titlePage;
  }

  .description {
    width: 50%;

    .description__paragraph {
      text-align: left;
      padding-bottom: 10px;
      color: $white;
      font-family: "Raleway";
      mix-blend-mode: difference;
      z-index: 1;
    }
  }

  .skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 50%;

    .skills__element {

      margin: 10px 5%;

    }
  }
}