@import "../../sass/colors.scss";
@import "../../sass/variables.scss";
@import "../../sass/mixins.scss";

.mainNavContainer {
  position: fixed;
  z-index: 1;

  .mainNavbar {
    @include reset-list;
    position: absolute;
    display: flex;
    top: 0;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 15px;
    z-index: 100;

    .mainNavbar__listElement {
      padding: 3px;
      margin: 0 3px;
      display: flex;
      align-items: center;

      &.hide {
        display: none;
      }

      @include rwd(tablet) {
        &.hide {
          display: flex;
        }
      }


      &>a {
        color: $text-main;
        font-family: $linkFont;
        text-decoration: none;
        cursor: pointer;
      }

      &.mainNavbar__listElement--burger {
        @include rwd(tablet) {
          display: none;
        }
      }

    }
  }

  .slideNavbar {
    @include reset-list;
    position: absolute;
    left: 0;
    top: calc(var(--navHeight) - 150px);
    min-width: var(--asideNavWidth);
    display: flex;
    flex-direction: column;
    padding: 13px;
    transition: .3s;
    z-index: 100;

    @include rwd(tablet) {
      display: none;
    }

    &.hide {
      left: -200px;
      transition: .3s;
    }

    .slideNavbar__listElement {
      margin: 10px 0;

      &>a {
        display: block;
        padding: 3px 6px;
        color: $text-main;
        text-decoration: none;
        font-family: $linkFont;
      }
    }
  }
}