@import "../../sass/colors.scss";
@import "../../sass/variables.scss";
@import "../../sass/mixins.scss";

.homePage {
    flex-grow: 1;
    display: flex;

    .asideNav {
        //media in variables
        width: var(--asideNavWidth);

        .asideNav-list {
            display: flex;
            flex-direction: column;
            height: 100%;
            @include reset-list;

            .asideNav-list-element {
                display: flex;
                margin-left: 5%;

                @media screen and (min-width:$minSmallDesctop) {
                    margin-left: 15%;
                }

                a {
                    display: block;
                    margin: 10px;

                    img {
                        height: 20px;

                        @media screen and (min-width:$maxMobile) {
                            height: 25px;
                        }

                        @media screen and (min-width:$maxLargeMobile) {
                            height: 35px;
                        }

                        @media screen and (min-width:$minSmallDesctop) {
                            height: 45px;
                        }
                    }
                }

                &.asideNav-list-element-text {
                    margin-top: auto;
                    margin-left: 0%;

                    a {
                        // media in variables --asideNavLast used in homePage-main too
                        width: 100%;
                        height: var(--asideNavLastElement);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 0;
                        white-space: nowrap;
                        text-decoration: none;
                        color: $white;
                        background-color: $mint;
                        font-size: .7rem;
                        letter-spacing: 1px;

                        @media screen and (min-width:$maxLargeMobile) {
                            font-size: 1.4rem;
                        }

                        @media screen and (min-width:$minSmallDesctop) {
                            font-size: 1.7rem;
                            letter-spacing: 3px;
                        }
                    }
                }
            }
        }
    }

    .homePage-main {
        position: relative;
        background-color: $grey-opacity;
        flex-grow: 1;
        margin-right: calc((var(--asideBlank) / 1.5) * -1);
        z-index: 1;

        @media screen and (min-width:$maxMobile) {
            margin-right: calc((var(--asideBlank) / 0.7) * -1);
        }

        @media screen and (min-width:$maxLargeMobile) {
            margin-right: calc((var(--asideBlank)/1.4) * -1);
        }

        .headers {
            position: absolute;
            top: var(--homePageMainHeader);
            left: calc(0px - var(--asideNavWidth) / 3);
            z-index: 1;

            @media screen and (min-width:$maxLargeMobile) {
                top: 30%;
                left: calc(0px - var(--asideNavWidth) + 20px)
            }

            @media screen and (min-width:$maxLargeMobile) {
                max-width: calc(45% + var(--asideNavWidth));
            }

            @media screen and (min-width:$minSmallDesctop) {
                left: calc(0px - var(--asideNavWidth)/2)
            }

            .headers-header-h1 {
                font-size: calc(1rem + 1vh);

                @media screen and (min-width:$maxMobile) {
                    font-size: calc(1rem + 3vw);
                }

                @media screen and (min-width:$maxLargeMobile) {
                    font-size: calc(1rem + 3vw);
                }

                @media screen and (min-width:$minTablet) {
                    font-size: calc(1rem + 3vw);
                }
            }

            .headers-header-h2 {
                font-size: 1.2rem;

                @media screen and (min-width:$maxMobile) {
                    font-size: calc(1rem + 3vw);
                }

                @media screen and (min-width:$maxLargeMobile) {
                    font-size: calc(1rem + 2vw);
                }


            }
        }

        .homePage-main-icon {
            position: absolute;
            bottom: 0;
            left: -1px;
            display: flex;
            height: var(--asideNavLastElement);
            width: var(--asideNavLastElement);
            justify-content: center;
            align-items: center;
            background-color: $lightGrey;

            img {
                height: 60%;
            }
        }

        .homePage-main-profileImage {
            position: absolute;
            bottom: 0;
            right: 0;
            max-height: calc(100% - var(--homePageMainHeader) - 200px);
            max-width: 70%;

            @media screen and (min-width:$maxLargeMobile) {
                max-height: 70%;
                max-width: 55%;
            }

        }
    }
}