@import "../../sass/colors.scss";
@import "../../sass/variables.scss";
@import "../../sass/mixins.scss";

.homePage {
    flex-grow: 1;
    display: flex;

    .asideNav {
        width: $asideNavWidht;

        .asideNav-list {
            display: flex;
            flex-direction: column;
            height: 100%;

            @include reset-list;

            .asideNav-list-element {
                display: flex;
                justify-content: center;
                align-items: center;

                a {
                    display: block;
                    margin: 10px;

                    img {
                        height: 20px;
                    }
                }

                &.asideNav-list-element-text {
                    margin-top: auto;

                    a {
                        width: 100%;
                        height: $asideNavListElementTextHeight;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 0;
                        white-space: nowrap;
                        text-decoration: none;
                        color: $white;
                        background-color: $mint;
                        font-size: .8rem;

                    }
                }
            }
        }
    }

    .homePage-main {

        position: relative;
        background-color: $grey-opacity;
        flex-grow: 1;
        margin-right: -$asideBlank/3;
        z-index: 1;

        .homePage-main-header1 {
            position: absolute;
            bottom: $homePageMainHeader2Height + 6;
            left: -$asideNavWidht/3;
            font-size: 1rem;

        }

        .homePage-main-header2 {
            position: absolute;
            bottom: $homePageMainHeader2Height;
            left: -$asideNavWidht/3;
            font-size: .8rem;

        }

        .homePage-main-icon {
            position: absolute;
            bottom: 0;
            left: -1px;
            display: flex;
            height: $asideNavListElementTextHeight;
            width: $asideNavListElementTextHeight;
            justify-content: center;
            align-items: center;
            background-color: $lightGrey;

            img {
                height: 80%;
            }
        }

        .homePage-main-profileImage {
            position: absolute;
            bottom: 0;
            right: 0;
            max-height: $homePageMainHeader2Height;
            max-width: 70%;


        }
    }
}