@import "./../../sass/colors.scss";
@import "./../../sass/mixins.scss";
@import "./../../sass/variables.scss";

.experience {
            min-height: 100vh;
            display: flex;
            flex-wrap: wrap;
            position: relative;
            margin-top: -1px;
            background: linear-gradient(to bottom,
                                    $mint 0%,
                                    $lightGrey 50%,
                                    $mint 100%);

            @include rwd(desctop) {
                        line-height: 2;
            }

            .experience__header {
                        @include titlePage;
                        width: 100%;
                        flex: auto;
            }

            .job {
                        display: flex;
                        flex-wrap: wrap;
                        width: 100%;
                        margin: 10px auto;
                        padding: 10px;
                        background-color: #fff;
                        border: 3px solid orange;
                        align-items: center;

                        @include rwd(small) {
                                    width: 80%;
                        }

                        @include rwd(desctop) {
                                    width: 60%;
                                    padding: 0 10px;
                        }

                        .job__logo {
                                    max-width: 20%;
                                    max-height: 10vh;

                                    @include rwd(tablet) {
                                                max-height: 7vh;
                                    }

                        }

                        .company {
                                    width: 80%;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;
                                    min-height: 10vh;
                                    padding: 0 20px;

                                    .company__name {
                                                text-align: center;
                                                margin-bottom: 10px;
                                                font-size: 1.2rem;

                                                @include rwd(small) {
                                                            font-size: 1rem;
                                                }

                                                @include rwd(desctop) {
                                                            font-size: 1rem;
                                                }
                                    }

                                    .company__position {
                                                text-align: center;
                                                font-size: 1.1rem;

                                                @include rwd(small) {
                                                            font-size: 1rem;
                                                }

                                                @include rwd(desctop) {
                                                            font-size: 1rem;
                                                }
                                    }
                        }

                        .job__description {
                                    width: 100%;
                                    font-size: 1rem;
                                    padding: 10px;

                                    @include rwd(tablet) {
                                                text-align: justify;
                                    }

                                    @include rwd(desctop) {
                                                padding: 5px;
                                                font-size: .9rem;
                                    }
                        }

                        .show-more-less__btn {
                                    padding-left: 10px;
                                    font-size: .8rem;
                        }

            }
}

.aboutPage__cvBtn {
            width: 100%;
            margin: 5px;


            @include rwd(small) {
                        width: 80%;
                        margin: 5px auto;
            }

            @include rwd(medium) {
                        width: 40%;
                        min-width: 150px;
            }

            @include rwd(desctop) {
                        margin: 0px 40%;
                        padding: 0;
                        width: 20%;
            }
}