@import "./sass/colors.scss";
@import "./sass/variables.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  font-family: $textFont;
  scroll-behavior: smooth;

  .App__page {
    overflow: hidden;
    position: relative;
  }
}