@import "./sass/colors.scss";
@import "./sass/variables.scss";

* {
  box-sizing: border-box;
}

.App {
  display: flex;
  min-height: 100vh;
  color: $text-main;
  font-family: $textFont;

  .pages {

    width: calc(100% - var(--asideBlank));
    display: flex;
    flex-direction: column;
    min-height: 550px;

    @media screen and (min-width:$minSmallDesctop) {
      min-height: 800px;
    }

    .pages-mainNav {
      height: 200px;
    }
  }

  .App-blank {
    width: var(--asideBlank);
    background-color: $mint;
  }
}