@import '../../sass/colors.scss';
@import '../../sass/mixins.scss';
@import '../../sass/variables.scss';

.projectsPage {
            padding: 10px;
            min-height: 100vh;
            background: linear-gradient(to bottom,
                                    $mint 0%,
                                    rgba(255, 255, 255, 1) 50%,
                                    $mint 100%);

            @include rwd(desctop) {
                        line-height: 2;
            }

            .projectsPage__header {
                        @include titlePage;
                        text-align: center;
                        font-family: $headersFont;
                        margin-bottom: 0;
            }
}